body {
    background-image: url('/img/Mountains.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.tree-image {
    width: 100px; /* Ajusta el tamaño de la imagen */
    margin: 20px auto 0; /* Centra y coloca espacio arriba */
}

.container {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con opacidad */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.bg-white {
    padding-top: 60px; /* Da espacio para que la imagen del árbol no cubra el texto */
}

.nav-tabs .nav-link {
    background-color: #198754; /* Verde para las pestañas inactivas */
    color: white; /* Texto blanco */
}

/* Estilo para la pestaña activa */
.nav-tabs .nav-link.active {
    background-color: white; /* Fondo blanco para la pestaña activa */
    color: #198754; /* Verde para el texto activo */
    border-color: #198754 #198754 white; /* Bordes de la pestaña activa */
}

/* Hover en pestañas */
.nav-tabs .nav-link:hover {
    background-color: #145c32; /* Verde oscuro en hover */
    color: white;
}